@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
  flex-basis: 100%;
  height: 0;
}

.resume{
    width: 975px;
    margin-left:15%;
//    justify-content:center;
//    align-items:center;
    background: #fff;
    margin: 25px auto;
    display: flex;
    border: solid black 1px;
}

.header{
//    background: #292b2f;
//    padding: 15px 30px;
//    color: #fff;
    height: 240px;
}

.header .title {
    color: blue;
}

.title{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 30px;
    color: #000;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}

.title:before{
    content: "";
    position: absolute;
    top: 35px;
    right: 179px;
    width: 395px;
    height: 1px;
/**    background: #555;**/
}

.left{
    background: #aaa;
    width: 317px;
    height: 315px;
    padding: 10 10px;
//    border-right : solid #aaa 1px;
}

.right{
    padding: 5pt;
    width: calc(975px - 157px);
    background : #d9d9d9;
}

.left .img_holder{
    text-align: center;
    padding: 10 0px;
}

.left .img_holder img{
    width:  237px;
    height: 257px;
    top:10 10px;
    border-radius: 30px;
}

.pb{
    padding-bottom: 20px;
}

.contact .li_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.contact .li_wrap .icon{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
}

.contact .li_wrap .text{
    width: calc(100% - 50px);
    word-break: break-word;
    color: #aaa;
}
